
Deliveries/230522 Human captial in the Nordics/Occupations_dk.xlsx
Deliveries/230522 Human captial in the Nordics/~$Occupations_dk.xlsx
Deliveries/230522 Human captial in the Nordics/Predicted_HISCO_codes.csv
Deliveries/230522 Human captial in the Nordics/Predicted_HISCO_codes_sample100.csv
Deliveries/230522 Human captial in the Nordics/Predicted_HISCO_codes_sample100_quality.xlsx
Deliveries/230522 Human captial in the Nordics/Predicted_HISCO_codes_top5.csv
Training_data/DK_CENSUS.csv
Training_data/UK_MARIAGE_CERTIFICATES.csv
